.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/extdata/.~lock.norwayLocations.xlsx#
..Rcheck
docs/*
inst/doc
*.Rcheck*
travis/.DS_Store
R/.DS_Store
inst/.DS_Store
inst/bin/.DS_Store
inst/extdata/.DS_Store
inst/extdata/.DS_Store
Rplot001.png
